﻿<!-- Displays info for all the teams... -->
<div ng-app="appName">

    <div ng-controller="ControllerName">
        
        <h1>Check out your favourite teams!</h1>

        <!-- declare a wrapper div for each of the teams! -->
        <div class="team" ng-repeat="team in teams | orderBy:'Name'">

            <h2>
                {{ team.Name }} - {{ team.League }}
                <a href="#" ng-click="deleteTeam(team)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </h2>

            <!-- display the list of all comments associated with this team! -->
            <blockquote ng-repeat="comment in team.Comments">
                {{ comment }}
            </blockquote>

            <h4>Have your say!</h4>
            <form ng-submit="commentOn(team, newComment)">
                <input type="text" ng-model="newComment" placeholder="What do you think of {{ team.Name }}?" />
                <button type="submit">Save</button>
            </form>
            
        </div>

    </div>

</div>


<!-- 
    Angular code that manages the data in the $scope, that drives
    the view above - this data will be retrieved from our WebAPI!
-->
<script>
    angular.module("appName", []).controller("ControllerName", function ($scope, $http) {
        
        // we want to query the API that will feed us the teams...
        $http
            .get('/api/Team')
            .success(function (teams) {
                // since teams is an array teams, and also that the template
                // above knows how to deal with an array of teams (i.e. it loops
                // over that array, and extracts the necessary properties) - we
                // can just assign the array of teams into the $scope! Angular ROCKS!
                $scope.teams = teams;
            });

        // declare a function that will cause the team to be deleted:
        // 1. Client (locally in the browser)
        // 2. Server (remotely in the DB)
        $scope.deleteTeam = function (team) {
            // 1. remove the current team from the local array
            var index = $scope.teams.indexOf(team);
            if (index != -1) {
                $scope.teams.splice(index, 1);
            }

            // 2. instruct the server to remove the item
            var deletePromise = $http.delete('/apidjk/Team/' + team.Id);
            
            deletePromise.error(function () {
                
                // we prematurely (optimistically) removed the team from the 
                // teams array in the $scope - since we've discovered that we
                // were unable to remove the team on the server side, let's 
                // undo the splice!
                $scope.teams.push(team);

                alert('FAILED');
            });
        };

        // define a method that enables a team to be commented on!
        // 1. Update state locally ($scope)
        // 2. Update state remotely (WebAPI / HTTP => DB)
        $scope.commentOn = function (team, comment) {
            // js way of doing default values
            var comments = team.Comments || [];

            // now push the new comment on to the array of comments!
            comments.push(comment);

            // now associate the updated array of comment strings, with the 
            // team
            team.Comments = comments;

            // erase existing content
            

            $http.post('/api/Comment', team)
        };
    });
</script>












